{% extends 'dashboard/base/index.html'%}
{% load static %}

{% block title %}Blocked Seller{% endblock %}
{% block subtitle %}Blocked Seller{% endblock %}

{% block content %}
<div class="container-fluid page__container">
    <div class="card document-card">
        <div class="row ml-2 mr-2 mb-2 mt-2">
            <div class="col-sm-12 document-table-space" style="margin: 50px 0px;">
                <h3 class="text-center">Blocked Seller </h3>
                <table class="table no-margin table-hover table-bordered  " id="detTable">
                    <thead>
                        <tr>
                            <th>S.N</th>
                            <th>Name</th>
                            <th>Mobile</th>
                            <th>address</th>
                            <th>Store Location</th>
                            <th> Action </th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        {% for seller in object_list %}
                        <tr>
                            <td>{{ page_obj.start_index|add:forloop.counter0 }}</td>
                            <td>{{ seller.first_name }} {% if seller.middle_name %} {{ seller.middle_name }} {% endif %} {{ seller.last_name }}</td>
                            <td><span class="badge badge-primary">{{ seller.mobile }}</span></td>
                            <td><span class="badge badge-success">{{ seller.address }}</span></td>
                            <td>{{ seller.location }}</td>
                            <td>
                                <div class="btn-group" role="group" style="margin:auto;">
                                    <a href="{% url 'dashboard:re-activate-seller' seller.id %}" class="btn-sm btn btn-info btn-success-space re-acivate-user" data-toggle="tooltip" data-original-title='Re-activate'>
                                        <i class="fa fa-check-circle"></i>
                                    </a>
                                    {% if request.user.is_superuser %}
                                    <a href="{% url 'dashboard:delete-seller' seller.id %}" class="btn-sm btn btn-danger delete-link" data-toggle="tooltip" data-original-title='Delete' >
                                        <i class="far fa-trash-alt"></i>
                                    </a>
                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% include 'dashboard/base/pagination.html' %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
$('body').on('click', '.re-acivate-user', function (e) {
			e.preventDefault();
			Swal.fire({
				title: 'Are you sure?',
				text: "you are re-activating this seller",
				type: 'success',
				showCancelButton: true,
				confirmButtonColor: '#3085d6',
				cancelButtonColor: '#d33',
				confirmButtonText: 'Yes, accept it!'
			}).then((result) => {
				if (result.value) {
					window.location.href = $(this).attr('href');
				}
			})
		});
</script>
{% endblock %}