{% load static %}
<!DOCTYPE HTML>
<html>
<head>
<title>Pravin Rai | Login Page :: </title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Glance Design Dashboard Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

<!-- Bootstrap Core CSS -->
<link href="{% static 'adminstatic/css/bootstrap.css' %}" rel='stylesheet' type='text/css' />

<!-- Custom CSS -->
<link href="{% static 'adminstatic/css/style.css' %}" rel='stylesheet' type='text/css' />

<!-- font-awesome icons CSS-->
<link href="{% static 'adminstatic/css/font-awesome.css' %}" rel="stylesheet"> 
<!-- //font-awesome icons CSS-->

 <!-- side nav css file -->
 <link href="{% static 'adminstatic/css/SidebarNav.min.css' %} media='all' rel='stylesheet' type='text/css'/>
 <!-- side nav css file -->
 

<!--webfonts-->
<link href="//fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext,latin-ext" rel="stylesheet">
<!--//webfonts-->
 
<!-- Metis Menu -->
<link href="{% static 'adminstatic/css/custom.css' %}" rel="stylesheet">
<!--//Metis Menu -->

</head> 
<body class="">
<div class="main-content">
	<div id="page-wrapper">
	  <div class="main-page">
		<!--left-fixed -navigation-->		
		<!-- header-starts -->
		<div class="sticky-header header-section ">
			<div class="header-left">
				
				<!--toggle button start-->
				<!--toggle button end-->
				<!--notification menu end -->
				<h2>Admin Login</h2>
				<div class="forgot">
					<a href="/" >Back To Home</a>
				</div>
			</div>
		</div>
		<!-- //header-ends -->
		<!-- main content start-->
		<div id="page-wrapper">
			<div class="main-page login-page ">
				<h2 class="title1">Login</h2>
				<div class="widget-shadow">
					<div class="login-body">
						<form action="#" method="post">
							{% csrf_token %}
							{{form.username}}
							{{form.password}}

							<div class="forgot-grid">
								{% if error %}
								<label style="color:red">{{error}}</label>
								{% endif %}
								<label class="checkbox"><input type="checkbox" name="remember" checked=""><i></i>Remember me</label>
								<div class="forgot">
									<a href="{% url 'sellerapp:sellerforgotpassword' %}">forgot password?</a>
								</div>
								<div class="clearfix"> </div>
							</div>
							<input type="submit" name="Sign In" value="Sign In">
							<div class="registration">
								Don't have an account ?
								<a class="" href="signup.html">
									Create an account
								</a>
							</div>
						</form>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</div>
		<!--footer-->
		<div class="footer">
		   <p>&copy; Pravin Rai. All Rights Reserved | Design by 
		   	<a href="#" target="_blank">Pravin Rai</a></p>		
		</div>
        <!--//footer-->
	

</div>
   
</body>
</html>