{% extends 'admin/adminbase.html' %}
{% load static %}
{% block main %}
		<!-- main content start-->
		<div id="page-wrapper">
			<div class="main-page">
			<div class="col_3">
			<div class="col-md-3 widget">
        		<div class="r3_counter_box">
                <a href="{% url 'ecomapp:amdin_order_by_status' 'Order-Received' %}">
                    <i class="pull-left fa fa-users dollar2 icon-rounded"></i>
                    <div class="stats">
                      <h5>
                      	<strong>{{pending_orders.count}}</strong></h5>
                      <span>Pending Orders</span>
                    </div></a>
                </div>
        	 </div>
        	<div class="col-md-3 widget widget1">
        		<div class="r3_counter_box">
        			<a href="{% url 'ecomapp:amdin_order_by_status' 'Order-Completed' %}">
                    <i class="pull-left fa fa-dollar icon-rounded"></i>
                    <div class="stats">
                      <h5><strong>{{order_completed.count}}</strong></h5>
                      <span>Order Completed</span>
                    </div></a>
                </div>
        	</div>
        	<div class="col-md-3 widget widget1">
        		<div class="r3_counter_box">
                <a href="{% url 'ecomapp:amdin_order_by_status' 'Order-Processing' %}">

                    <i class="pull-left fa fa-laptop user1 icon-rounded"></i>
                    <div class="stats">
                      <h5><strong>{{order_processing.count}}</strong></h5>
                      <span>Order Processing</span>
                    </div></a>
                </div>
        	</div>
        	<div class="col-md-3 widget widget1">
        		<div class="r3_counter_box">
        			<a href="{% url 'ecomapp:amdin_order_by_status' 'On-the-way' %}">
                    <i class="pull-left fa fa-money user2 icon-rounded"></i>
                    <div class="stats">
                      <h5><strong>{{order_ontheway.count}}</strong></h5>
                      <span>Order On the way</span>
                    </div></a>
                </div>
        	</div>
        	<div class="col-md-3 widget widget1">
        		<div class="r3_counter_box">
                    <a href="{% url 'ecomapp:amdin_order_by_status' 'Order-Canceled' %}"><i class="pull-left fa fa-pie-chart dollar1 icon-rounded"></i>
                    <div class="stats">
                      <h5><strong>{{order_canceled.count}}</strong></h5>
                      <span>Order Canceled</span>
                    </div></a>
                </div>
        	 </div>
        	<div class="clearfix"> </div>
		</div>
		
	<!-- for amcharts js -->
			<script src="js/amcharts.js"></script>
			<script src="js/serial.js"></script>
			<script src="js/export.min.js"></script>
			<link rel="stylesheet" href="css/export.css" type="text/css" media="all" />
			<script src="js/light.js"></script>
	<!-- for amcharts js -->

    <script  src="js/index1.js"></script>
	
		<div class="charts">		
			<div class="mid-content-top charts-grids">
				<div class="middle-content">
					<!-- start content_slider -->
					<div id="owl-demo" class="owl-carousel text-center">
						<div class="item">
							<img class="lazyOwl img-responsive" data-src="images/slider1.jpg" alt="name">
						</div>
						<div class="item">
							<img class="lazyOwl img-responsive" data-src="images/slider2.jpg" alt="name">
						</div>
						<div class="item">
							<img class="lazyOwl img-responsive" data-src="images/slider3.jpg" alt="name">
						</div>
						<div class="item">
							<img class="lazyOwl img-responsive" data-src="images/slider4.jpg" alt="name">
						</div>
						<div class="item">
							<img class="lazyOwl img-responsive" data-src="images/slider5.jpg" alt="name">
						</div>
						<div class="item">
							<img class="lazyOwl img-responsive" data-src="images/slider6.jpg" alt="name">
						</div>
						<div class="item">
							<img class="lazyOwl img-responsive" data-src="images/slider7.jpg" alt="name">
						</div>
						
					</div>
				</div>
					<!--//sreen-gallery-cursual---->
			</div>
		</div>
		
			</div>
		</div>
{% endblock %}