{% extends 'admin/adminbase.html' %}
{% load static %}
{% load humanize %}
{% block main %}
<div id="page-wrapper">
	<div class="main-page">
    	<div class="col-md-12 w3-agile-crd widgettable">
            <div class="card">
                <div class="card-body card-padding">
                        <header class="widget-header">
                            <h4 class="widget-title">Order Details</h4>
                        </header>
                        <hr class="widget-separator">
                        <div class="sl-item sl-primary">
                            <div class="sl-content">
                                <p><b class="text-muted">Order ID : </b>
                                Order_#{{orderdetail.id}}</p>
                            </div>
                        </div>
                        <div class="sl-item sl-primary">
                            <div class="sl-content">
                            <p><b class="text-muted">Ordered By : </b>
                            {{orderdetail.ordered_by}}</p>
                            </div>
                        </div>  
                        <div class="sl-item sl-success">
                            <div class="sl-content">
                               <p> <b class="text-muted">Shipping Address :</b>
                                {{orderdetail.shipping_address}}</p>
                            </div>
                        </div>                      
                        <div class="sl-item">
                            <div class="sl-content">
                                <p><b class="text-muted">Mobile : </b>
                                {{orderdetail.mobile}}</p>
                            </div>
                        </div>
                        <div class="sl-item sl-warning">
                            <div class="sl-content">
                                <p><b class="text-muted">Email : </b>
                                 {{orderdetail.email}}</p>
                            </div>
                        </div>
                        <div class="sl-item sl-warning">
                            <div class="sl-content">
                                <p><b class="text-muted">Order Status : </b>
                                 {{orderdetail.order_status}}</p>
                            </div>
                        </div>
                        <div class="sl-item sl-warning">
                            <div class="sl-content">
                                <p><b class="text-muted">Order Date : </b>
                                 {{orderdetail.created_at|date}}({{orderdetail.created_at|timesince}})</p>
                            </div>
                        </div>
						<div class="clearfix"></div>
						<div class="panel-body">
								<h3>Order Item Details :</h3>
		                    <div class="bs-example widget-shadow" data-example-id="contextual-table"> 
								<table class="table"> 
									<thead> 
										<tr> 
											<th>S.N.</th>
											 <th>Item</th> 
											 <th>Rate</th> 
											 <th>Quantity</th> 
											 <th>Total</th> 
										</tr> </thead> 
									<tbody> 
										{% for cp in orderdetail.cart.cartproduct_set.all %}
										<tr class="active"> 
											<th scope="row">{{forloop.counter}}</th> 
											<td> <a href="{% url 'ecomapp:admin_product_detail' orderdetail.id %}">{{cp.product}}</a></td> 
											<td>{{cp.rate}}</td> 
											<td>{{cp.quantity}}</td> 
											<td>{{cp.subtotal|intcomma}}</td> 
										</tr> 
										{% endfor %}
										<tr><td colspan="4" align="right">Total Amount : {{orderdetail.cart.total|intcomma}}</td></tr>
									</tbody> 
								</table> 
							</div>
                    <div class="form-two widget-shadow">
                        <div class="form-body" data-example-id="simple-form-inline">
                            <form class="form-inline" method="POST" action="{% url 'ecomapp:admin_order_status_change' orderdetail.id %}">
                            {% csrf_token %} 
                                <div class="form-group"> 
                                    <label for="exampleInputName2">Order Status : </label> 
                                    <select class="form-control" name="status">
                                        {% for i, j in allstatus %}
                                        <option value="{{i}}" 
                                        {% if i == orderdetail.order_status %}selected{% endif %}>{{j}}</option>
                                        {% endfor %}
                                    </select>
                                </div> 
                                <button type="submit" class="btn btn-default">Change</button> </form> 
                        </div>
                    </div>
						</div>


					</div>
                </div>
            </div>
        </div>
		<div class="clearfix"></div>
	</div>
{% endblock %}