{% extends 'admin/adminbase.html' %}
{% load static %}
{% block main %}
<div id="page-wrapper">
	<div class="main-page">
		<div class="tables">	
			<div class="bs-example widget-shadow" data-example-id="hoverable-table"> 
						<h4>Pending Orders({{pendings.count}}) :</h4>
						<table class="table table-hover"> 
							<thead> 
								<tr> 
									<th>S.N.</th> 
									<th>Name</th> 
									<th>Shipping Address</th> 
									<th>Mobile</th> 
									<th>Email</th> 
									<th>Total Amount</th> 
									<th>Order Date</th> 
								</tr> 
							</thead> 
							<tbody> 
								{% for pen in pendings %}
								<tr> 
									<th scope="row">{{forloop.counter}}</th> 
									<td><a href="{% url 'ecomapp:admin_order_detail' pen.id %}">{{pen.ordered_by}}</a></td> 
									<td>{{pen.shipping_address}}</td> 
									<td>{{pen.mobile}}</td> 
									<td>{{pen.email}}</td> 
									<td>{{pen.total}}</td> 
									<td>{{pen.created_at|date}}({{pen.created_at|timesince}})</td> 
								</tr>
								{% endfor %}
							</tbody> 
						</table>
			</div>
		</div>
	</div>
</div>
{% endblock %}