{% extends 'admin/adminbase.html' %}
{% load static %}
{% block main %}
<div id="page-wrapper">
				<div class="row">
						<h3 class="title1">Add New Product :</h3>
						<div class="form-three widget-shadow">
						<div class="form-body">
							<form action="" class="form-horizontal" method="POST">
								{% csrf_token %}
								<div class="form-group">
									<label for="focusedinput" class="col-sm-2 control-label">Title</label>
									<div class="col-sm-8">
										{{form.title}}
									</div>
									<div class="col-sm-2">
										<p class="help-block">Your help text!</p>
									</div>
								</div>
								<div class="form-group">
									<label for="disabledinput" class="col-sm-2 control-label">Slug</label>
									<div class="col-sm-8">
										{{form.slug}}
									</div>
								</div>
								<div class="form-group">
									<label for="inputPassword" class="col-sm-2 control-label">Category</label>
									<div class="col-sm-8">
										{{form.category}}
									</div>
								</div>
								<div class="form-group">
									<label for="inputPassword" class="col-sm-2 control-label">Image</label>
									<div class="col-sm-8">
										{{form.image}}
									</div>
								</div>								
								<div class="form-group">
									<label for="inputPassword" class="col-sm-2 control-label">Marked Price</label>
									<div class="col-sm-8">
										{{form.marked_price}}
									</div>
								</div>
								<div class="form-group">
									<label for="inputPassword" class="col-sm-2 control-label">Selling Price</label>
									<div class="col-sm-8">
										{{form.selling_price}}
									</div>
								</div>
								<div class="form-group">
									<label for="txtarea1" class="col-sm-2 control-label">Description</label>
									<div class="col-sm-8">
										{{form.description}}
									</div>
								</div>
								<div class="form-group">
									<label for="inputPassword" class="col-sm-2 control-label">Warranty</label>
									<div class="col-sm-8">
										{{form.warranty}}
									</div>
								</div>						
								<div class="form-group">
									<label for="inputPassword" class="col-sm-2 control-label">Return Policy</label>
									<div class="col-sm-8">
										{{form.return_policy}}
									</div>
								</div>
								<div class="form-group">
									<label for="inputPassword" class="col-sm-2 control-label">More Image</label>
									<div class="col-sm-8">
										{{form.more_images}}
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-8">
									</div>
									<div class="col-sm-2">
										<button type="submit" class="btn btn-primary">Submit</button>
									</div>
								</div>
							</form>
						</div>
						</div>
			</div>

</div>
<script>
    $("#id_title" ).keyup(function( event ) {
        $("#id_slug").val($("#id_title").val().toLowerCase().replace(/[^\w ]+/g,'').replace(/ +/g,'-'))  
    });
</script> 	
{% endblock %}