{% extends 'admin/adminbase.html' %}
{% load static %}
{% block style %}
<style>{% include 'admin/documents/upload-file.css' %}</style>
{% endblock %}

{% block main %}
<div id="page-wrapper">
				<div class="row">
						<h3 class="title1">Add New Product :</h3>
						<div class="form-three widget-shadow">
						<div class="form-body">
							<form action="" class="form-horizontal" method="POST" enctype="multipart/form-data">
								{% csrf_token %}
								{{form.media}}
								<div class="form-group">
									<label for="focusedinput" class="col-sm-2 control-label">Title</label>
									<div class="col-sm-8">
										{{form.title }}
									</div>
								</div>
								<div class="form-group">
									<label for="disabledinput" class="col-sm-2 control-label">Slug</label>
									<div class="col-sm-8">
										{{form.slug}}
									</div>
								</div>
								<div class="form-group">
									<label for="inputPassword" class="col-sm-2 control-label">Category</label>
									<div class="col-sm-8">
										{{form.category}}
									</div>
								</div>
								<div class="form-group">
									<label for="inputPassword" class="col-sm-2 control-label">Image</label>
									<div class="col-sm-8">
										{% include 'admin/drop-box.html' %}
									</div>
								</div>								
								<div class="form-group">
									<label for="inputPassword" class="col-sm-2 control-label">Marked Price</label>
									<div class="col-sm-8">
										{{form.marked_price}}
									</div>
								</div>
								<div class="form-group">
									<label for="inputPassword" class="col-sm-2 control-label">Selling Price</label>
									<div class="col-sm-8">
										{{form.selling_price}}
									</div>
								</div>
								<div class="form-group">
									<label for="txtarea1" class="col-sm-2 control-label">Description</label>
									<div class="col-sm-8">
										{{form.description}}
									</div>
								</div>
								<div class="form-group">
									<label for="inputPassword" class="col-sm-2 control-label">Warranty</label>
									<div class="col-sm-8">
										{{form.warranty}}
									</div>
								</div>						
								<div class="form-group">
									<label for="inputPassword" class="col-sm-2 control-label">Return Policy</label>
									<div class="col-sm-8">
										{{form.return_policy}}
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-8">
									</div>
									<div class="col-sm-2">
										<button type="submit" class="btn btn-primary">Submit</button>
									</div>
								</div> 
							</form>
						</div>
						</div>
			</div>

</div>

<script>
    $("#id_title" ).keyup(function( event ) {
        $("#id_slug").val($("#id_title").val().toLowerCase().replace(/[^\w ]+/g,'').replace(/ +/g,'-'))  
    });
</script> 
<script>{% include 'admin/documents/upload-file.js' %}</script>	
{% endblock %}