{% extends 'admin/adminbase.html' %}
{% load static %}
{% block main %}
<div id="page-wrapper">
	<div class="main-page">
		<div class="tables">	
			<div class="bs-example widget-shadow" data-example-id="hoverable-table"> 
						<h4>Product Lists({{productlist.count}}) [ <a href="{% url 'ecomapp:admin_product_create' %}">Add New</a> ]:</h4>
						<table class="table table-hover"> 
							<thead> 
								<tr> 
									<th>S.N.</th> 
									<th>Name</th> 
									<th>Image</th> 
									<th>Category</th> 
									<th>Marked Price</th> 
									<th>Selling Price</th> 
									<th>Warranty</th> 
									<th>Return Policy</th> 
									<th>View</th>
									<th>Action</th> 
								</tr> 
							</thead> 
							<tbody> 
								{% for pl in productlist %}
								<tr> 
									<th scope="row">{{forloop.counter}}</th> 
									<td><a href="{% url 'ecomapp:admin_product_detail' pl.id %}">{{pl.title}}</a></td> 
									<td><a href="{% url 'ecomapp:admin_product_detail' pl.id %}"><img src="{{pl.image.url}}" class="img-fluid" height="40px"></a></td> 
									<td>{{pl.category}}</td> 
									<td>{{pl.marked_price}}</td> 
									<td>{{pl.selling_price}}</td> 
									<td>{{pl.warranty}}</td> 
									<td>{{pl.return_policy}}</td> 
									<td>{{pl.view_count}}</td>
									<td>
										<a href="{% url 'ecomapp:admin_product_update' pl.id %}"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M11 4H4C3.46957 4 2.96086 4.21071 2.58579 4.58579C2.21071 4.96086 2 5.46957 2 6V20C2 20.5304 2.21071 21.0391 2.58579 21.4142C2.96086 21.7893 3.46957 22 4 22H18C18.5304 22 19.0391 21.7893 19.4142 21.4142C19.7893 21.0391 20 20.5304 20 20V13" stroke="#999999" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
											<path d="M18.5 2.50023C18.8978 2.1024 19.4374 1.87891 20 1.87891C20.5626 1.87891 21.1022 2.1024 21.5 2.50023C21.8978 2.89805 22.1213 3.43762 22.1213 4.00023C22.1213 4.56284 21.8978 5.1024 21.5 5.50023L12 15.0002L8 16.0002L9 12.0002L18.5 2.50023Z" stroke="#999999" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
											</svg></a>
										  <a class="delete" href="{% url 'ecomapp:admin_product_delete' pl.id %}"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M3 6H5H21" stroke="#999999" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
											<path d="M8 6V4C8 3.46957 8.21071 2.96086 8.58579 2.58579C8.96086 2.21071 9.46957 2 10 2H14C14.5304 2 15.0391 2.21071 15.4142 2.58579C15.7893 2.96086 16 3.46957 16 4V6M19 6V20C19 20.5304 18.7893 21.0391 18.4142 21.4142C18.0391 21.7893 17.5304 22 17 22H7C6.46957 22 5.96086 21.7893 5.58579 21.4142C5.21071 21.0391 5 20.5304 5 20V6H19Z" stroke="#999999" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
											<path d="M10 11V17" stroke="#999999" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
											<path d="M14 11V17" stroke="#999999" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
											</svg></a>
									</td> 
								</tr>
								{% endfor %}
							</tbody> 
						</table>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block js %}
<script>
	$(".delete").click(function (e) {
	  e.preventDefault();
	  swal({
		title: "Are you sure?",
		text: "It will permanently deleted !",
		icon: "warning",
		buttons: true,
		dangerMode: true,
	  }).then((willDelete) => {
		if (willDelete) {
		  window.location.href = $(this).attr("`");
		  swal(" 'Your file has been deleted.'!", {
			icon: "success",
		  });
		}
	  });
	});
  </script>
{% endblock %}