{% extends 'admin/adminbase.html' %}
{% load static %}
{% load humanize %}
{% block main %}
<div id="page-wrapper">
	<div class="main-page">
    	<div class="col-md-12 w3-agile-crd widgettable">
            <div class="card">
                <div class="card-body card-padding">
                        <header class="widget-header">
                            <h4 class="widget-title">Product Details</h4>
                        </header>
                        <hr class="widget-separator">
                		<div class="col-md-6">
                        <div class="sl-item sl-primary">
                            <div class="sl-content">
                                <p><b class="text-muted">Product Name : </b>
                                {{product.title}}</p>
                            </div>
                        </div>
                        <div class="sl-item sl-primary">
                            <div class="sl-content">
                            <p><b class="text-muted">Category : </b>
                            {{product.category}}</p>
                            </div>
                        </div>  
                        <div class="sl-item sl-success">
                            <div class="sl-content">
                               <p> <b class="text-muted">Marked Price :</b>
                                {{product.marked_price}}</p>
                            </div>
                        </div>                      
                        <div class="sl-item">
                            <div class="sl-content">
                                <p><b class="text-muted">Selling Price : </b>
                                {{product.selling_price}}</p>
                            </div>
                        </div>
                        <div class="sl-item sl-warning">
                            <div class="sl-content">
                                <p><b class="text-muted">Warranty : </b>
                                 {{product.warranty}}</p>
                            </div>
                        </div>
                        <div class="sl-item sl-warning">
                            <div class="sl-content">
                                <p><b class="text-muted">Return Policy : </b>
                                 {{product.return_policy}}</p>
                            </div>
                        </div>
                        <div class="sl-item sl-warning">
                            <div class="sl-content">
                                <p><b class="text-muted">Views : </b>
                                 {{product.view_count}}</p>
                            </div>
                        </div>
                        <div class="sl-item sl-warning">
                            <div class="sl-content">
                                <p><b class="text-muted">Description: </b>
                                 {{product.description}}</p>
                            </div>
                        </div>
                    </div>
                        <div class="col-md-6">                            
                                 <img src="{{product.image.url}}">
                        </div>                        
						<div class="clearfix"></div>
					</div>
                </div>
            </div>
        </div>
		<div class="clearfix"></div>
	</div>
{% endblock %}