{% load static %}
{% load has_groups %}

<div class="mdk-drawer  js-mdk-drawer" id="default-drawer" data-align="start">
    <div class="mdk-drawer__content">
        <div class="sidebar sidebar-dark sidebar-left simplebar bg-dark" data-simplebar>
            <div class="d-flex align-items-center sidebar-p-a border-bottom sidebar-account flex-shrink-0">
                <a href="{% url 'dashboard:index' %}" class="flex d-flex align-items-center text-underline-0 text-body">
                    <span class="flex d-flex flex-column">
                        <img src="{% static 'dashboard/admin/assets/images/logo-1.png' %}" width="80" height="50" alt="avatar">
                    </span>
                    <span class="flex d-flex flex-column">
                        <strong style="font-size: 1.125rem;"><br>POMELO APP</strong>
                        <div>v 0.0.1</div>
                    </span>
                </a>
                <div class="dropdown ml-auto">
                    <a href="#" data-toggle="dropdown" data-caret="false" class="text-muted"><i class="material-icons">keyboard_arrow_down</i></a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <div class="dropdown-item-text dropdown-item-text--lh">
                            <div><strong>{{ user }}</strong></div>
                            <div>@ {{ user }}</div>
                        </div>
                       
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'dashboard:logout' %}">Logout</a>
                    </div>
                </div>
            </div>

            
            <div class="">
                <div >
                    <ul class="sidebar-menu flex">

                        <li class="sidebar-menu-item">
                            <a class="sidebar-menu-button" href="{% url 'dashboard:index' %}">
                                <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">dashboard</i>
                                <span class="sidebar-menu-text"> Dashboard </span>
                            </a>
                        </li>
                    
                        <li class="sidebar-menu-item">
                            <a class="sidebar-menu-button" href="{% url 'dashboard:designations-list' %}">
                                <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">supervisor_account</i>
                                <span class="sidebar-menu-text"> Designation </span>
                            </a>
                        </li>

                        {% if request.user|has_groups:'editor' or request.user.is_superuser %}
                        <li class="sidebar-menu-item">
                            <a class="sidebar-menu-button" href="{% url 'dashboard:groups-list' %}">
                                <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">view_list</i>
                                <span class="sidebar-menu-text"> Group Test </span>
                            </a>
                        </li>
                        {% endif %}


                        {% if request.user.is_superuser %}
                        <li class="sidebar-menu-item">
                            <a class="sidebar-menu-button" href="{% url 'dashboard:users-list' %}">
                                <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">account_box</i>
                                <span class="sidebar-menu-text"> Users </span>
                            </a>
                        </li>

                        <li class="sidebar-menu-item">
                            <a class="sidebar-menu-button" href="{% url 'dashboard:audittrail-list' %}">
                                <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">dvr</i>
                                <span class="sidebar-menu-text"> Audit </span>
                            </a>
                        </li>
                        {% endif %}
                        <li class="sidebar-menu-item">
                            <a class="sidebar-menu-button" data-toggle="collapse" href="#pending_seller_menu">
                                <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">shop</i>
                                <span class="sidebar-menu-text">Seller</span>
                                <span class="ml-auto sidebar-menu-toggle-icon"></span>
                            </a>
                            <ul class="sidebar-submenu collapse" id="pending_seller_menu">
                                <li class="sidebar-menu-item">
                                    <a class="sidebar-menu-button" href="{% url 'dashboard:pending-seller' %}">
                                        <span class="sidebar-menu-text">Seller Request</span>
                                    </a>
                                </li>
                                <li class="sidebar-menu-item">
                                    <a class="sidebar-menu-button" href="{% url 'dashboard:active-seller'%}">
                                        <span class="sidebar-menu-text">Active Seller</span>
                                    </a>
                                </li>
                                <li class="sidebar-menu-item">
                                    <a class="sidebar-menu-button" href="{% url 'dashboard:blocked-seller' %}">
                                        <span class="sidebar-menu-text">Blocked Seller</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="sidebar-menu-item">
                            <a class="sidebar-menu-button" data-toggle="collapse" href="#active_seller_menu">
                                <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">supervisor_account</i>
                                <span class="sidebar-menu-text">Customer</span>
                                <span class="ml-auto sidebar-menu-toggle-icon"></span>
                            </a>
                            <ul class="sidebar-submenu collapse" id="active_seller_menu">
                                <li class="sidebar-menu-item">
                                    <a class="sidebar-menu-button" href="">
                                        <span class="sidebar-menu-text">Active Customer</span>
                                    </a>
                                </li>
                                <li class="sidebar-menu-item">
                                    <a class="sidebar-menu-button" href="">
                                        <span class="sidebar-menu-text">Blocked Customer</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                       
                        <li class="sidebar-menu-item">
                            <a class="sidebar-menu-button" data-toggle="collapse" href="#employee_menu">
                                <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">settings</i>
                                <span class="sidebar-menu-text">Dropdown</span>
                                <span class="ml-auto sidebar-menu-toggle-icon"></span>
                            </a>
                            <ul class="sidebar-submenu collapse" id="employee_menu">
                                <li class="sidebar-menu-item">
                                    <a class="sidebar-menu-button" href="">
                                        <span class="sidebar-menu-text">Dropdown 1</span>
                                    </a>
                                </li>
                                <li class="sidebar-menu-item">
                                    <a class="sidebar-menu-button" href="">
                                        <span class="sidebar-menu-text">Dropdown 2</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        
                    </ul>
                </div>
            </div>

            <div class="mt-auto sidebar-p-a sidebar-b-t d-flex flex-column flex-shrink-0">
              
                <a class="sidebar-link" href="{% url 'dashboard:logout' %}">
                    Logout
                    <i class="sidebar-menu-icon ml-2 material-icons icon-16pt">exit_to_app</i>
                </a>
            </div>

        </div>
    </div>
</div>