{% extends 'base.html' %}
{% load static %}
{% block main %}

	<!-- banner-2 -->
	<div class="page-head_agile_info_w3l">

	</div>
	<!-- //banner-2 -->
	<!-- page -->
	<div class="services-breadcrumb">
		<div class="agile_inner_breadcrumb">
			<div class="container">
				<ul class="w3_short">
					<li>
						<a href="index.html">Home</a>
						<i>|</i>
					</li>
					<li>Seller Registration</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- //page -->
	<!-- checkout page -->
	<div class="privacy">
		<div class="container">
			<!-- tittle heading -->
			<h3 class="tittle-w3l">Seller Registration
				<span class="heading-style">
					<i></i>
					<i></i>
					<i></i>
				</span>
			</h3>
			<!-- //tittle heading -->
					<div class="checkout-left">
				<div class="address_form_agile contact-form wthree">
					<h4 style="margin-bottom:0">Add a new Details</h4>
					<hr>
					<form action="" method="post" class="creditly-card-form agileinfo_form" enctype="multipart/form-data">
						{% csrf_token %}
						<div class="creditly-wrapper wthree, w3_agileits_wrapper">
							<div class="information-wrapper">
								<div class="first-row">
									<div class="w3_agileits_card_number_grids">
										<div class="w3_agileits_card_number_grid_left">
                                            {% for field in form %}
                                        
                                                <label>{{ field.label }}{% if field.field.required %}* {% endif %}</label>
                                                <div class="controls">{{ field }}</div>
                                                <span style="color:red;">{{ field.errors|striptags|safe }}</span>

                                            {% endfor %}
										</div>
                                       
								</div>
								<button class="submit check_out">Register as a Seller</button>
							</div>
						</div>
					</form>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //checkout page -->
	<script type="text/javascript">

	</script>

{% endblock %}