{% extends 'base.html' %}
{% load static %}
{% block main %}
	<!-- banner-2 -->
	<div class="page-head_agile_info_w3l">

	</div>
	<!-- //banner-2 -->
	<!-- page -->
	<div class="services-breadcrumb">
		<div class="agile_inner_breadcrumb">
			<div class="container">
				<ul class="w3_short">
					<li>
						<a href="index.html">Home</a>
						<i>|</i>
					</li>
					<li>Checkout</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- //page -->
	<!-- checkout page -->
	<div class="privacy">
		<div class="container">
			<!-- tittle heading -->
			<h3 class="tittle-w3l">Checkout
				<span class="heading-style">
					<i></i>
					<i></i>
					<i></i>
				</span>
			</h3>
			<!-- //tittle heading -->
			<div class="checkout-right">
				<h4>Your shopping cart contains:
					<span>{{cart.cartproduct_set.all.count }} Products</span>
				</h4>
				<div class="table-responsive">
					<table class="timetable_sub">
						<thead>
							<tr>
								<th>SL No.</th>
								<th>Product</th>
								<th>Quality</th>
								<th>Product Name</th>

								<th>Rate</th>
								<th>Total</th>
								<th>Remove</th>
							</tr>
						</thead>
						<tbody>
							{% for cp in cart.cartproduct_set.all %}
							<tr class="rem1">
								<td class="invert">{{forloop.counter}}</td>
								<td class="invert-image">
									<a href="single2.html">
										<img src="{{cp.product.image.url}}" alt=" " class="img-responsive">
									</a>
								</td>
								<td class="invert">
									<div class="quantity">
										<div class="quantity-select">
											<div class="entry value-minus">&nbsp;</div>
											<div class="entry value">
												<span>1</span>
											</div>
											<div class="entry value-plus active">&nbsp;</div>
										</div>
									</div>
								</td>
								<td class="invert">{{cp.product.title}}</td>
								<td class="invert">{{cp.product.selling_price}}</td>
								<td class="invert">{{cp.subtotal}}</td>
								<td class="invert">
									<div class="rem">
										<a href="{% url 'ecomapp:namagecart' cp.id %}?action=rmv" class="close1"> </a>
									</div>
								</td>
							</tr>
							{% endfor %}
					<tr style="border:0; text-align: right;"><td colspan="7">Grand Total: Rs. {{cart.total}}</td></tr>
						</tbody>
					</table>
					<center class="p-4" style="margin-top:5px">
						{% if cart.cartproduct_set.all %}
							<a href="{% url 'ecomapp:emptycart' %}" class="btn btn-danger">Empty Cart</a>
						{% endif %}
					</center> 
				</div>
			</div>
			<div class="checkout-left">
				<div class="address_form_agile">
					<h4>Add a new Details</h4>
					<form action="" method="post" class="creditly-card-form agileinfo_form">
						{% csrf_token %}
						<div class="creditly-wrapper wthree, w3_agileits_wrapper">
							<div class="information-wrapper">
								<div class="first-row">
									<div class="controls">
										{{form.ordered_by}}
									</div>
									<div class="w3_agileits_card_number_grids">
										<div class="w3_agileits_card_number_grid_left">
											<div class="controls">
											{{form.shipping_address}}
											</div>
										</div>
										<div class="w3_agileits_card_number_grid_right">
											<div class="controls">
											{{form.mobile}}
											</div>
										</div>
										<div class="clear"> </div>
									</div>
									<div class="controls">
										{{form.email}}
									</div>
									<div class="controls">
										{{form.payment_method}}
									</div>
								</div>
								<button type="submit" class="submit check_out">Delivery to this Address</button>
							</div>
						</div>
					</form>
					<div class="checkout-right-basket">
						<a href="payment.html">Make a Payment
							<span class="fa fa-hand-o-right" aria-hidden="true"></span>
						</a>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //checkout page -->
{% endblock %}