{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block main %}
	<!-- banner-2 -->
	<div class="page-head_agile_info_w3l">

	</div>
	<!-- //banner-2 -->
	<div class="services-breadcrumb">
		<div class="agile_inner_breadcrumb">
			<div class="container">
				<ul class="w3_short">
					<li>
						<a href="/">Home</a>
						<i>|</i>
					</li>
					<li>Order Detail</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="privacy">
		<div class="container">
				<div class="grid_3 grid_5 wthree">
					<div class="col-md-12 agileits-w3layouts">
						<h3>Order Detail</h3>
						<div class="tab-pane active" id="domprogress">
							<p><b>Order ID : </b>Order_{{orderdetail.id}}</p>
							<p><b>Order Status : </b>{{orderdetail.order_status}}</p>
							<p><b>Your Name : </b>{{orderdetail.ordered_by}}</p>
							<p><b>Order on : </b>{{orderdetail.created_at|date}}({{orderdetail.created_at|timesince}}) ago</p>
							<p><b>Shipping Address : </b>{{orderdetail.shipping_address}}</p>
							<p><b>Contact : </b>{{orderdetail.mobile}}({{orderdetail.email}})</p>
						</div>
					</div>
				</div>
			<div class="checkout-right">
				<h4>Total shopping Item in your cart :
					<span>{{orderdetail.cart.cartproduct_set.all.count }} Products</span>
				</h4>
				<div class="table-responsive">
					<table class="timetable_sub">
						<thead>
							<tr>
								<th>SL No.</th>
								<th>Product</th>
								<th>Quality</th>
								<th>Product Name</th>

								<th>Rate</th>
								<th>Total</th>
							</tr>
						</thead>
						<tbody>
							{% for cp in orderdetail.cart.cartproduct_set.all %}
							<tr class="rem1">
								<td class="invert">{{forloop.counter}}</td>
								<td class="invert-image">
									<a href="single2.html">
										<img src="{{cp.product.image.url}}" alt=" " class="img-responsive">
									</a>
								</td>
								<td class="invert">
									<div class="quantity">
										<div class="quantity-select">
										
												<span>{{cp.quantity}}</span>
											
										</div>
									</div>
								</td>
								<td class="invert">
									<a href="{% url 'ecomapp:product-detail' cp.product.slug %}">{{cp.product.title}}</a>
								</td>
								<td class="invert">{{cp.product.selling_price|intcomma}}</td>
								<td class="invert">{{cp.subtotal|intcomma}}</td>
							</tr>
							{% endfor %}
					<tr style="border:0; text-align: right;"><td colspan="6"><b>Grand Total : Rs. {{orderdetail.total|intcomma}}/-</b></td></tr>
						</tbody>
					</table>
				</div>
			</div><a href="{% url 'ecomapp:customerprofile' %}">Back</a>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
{% endblock %}