{% extends 'base.html' %}
{% load static %}
{% block main %}
	<!-- banner-2 -->
	<div class="page-head_agile_info_w3l">

	</div>
	<!-- //banner-2 -->
	<div class="services-breadcrumb">
		<div class="agile_inner_breadcrumb">
			<div class="container">
				<ul class="w3_short">
					<li>
						<a href="/">Home</a>
						<i>|</i>
					</li>
					<li>Profile</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="privacy">
		<div class="container">
				<div class="grid_3 grid_5 wthree">
					<div class="col-md-5 agileits-w3layouts">
						<h3>Your Detail Information</h3>
						<div class="tab-pane active" id="domprogress">
							<p><b>Name : </b>{{customer.full_name}}</p>
							<p><b>User Name : </b>{{customer.user.username}}</p>
							<p><b>Address : </b>{{customer.address}}</p>
							<p><b>Joined Date: </b>{{customer.joined_on|date}}</p>
						</div>
					</div>
				</div>
				<b>Previous Orders</b>
				<div class="col-md-7 w3-agileits">
					<div class="bs-docs-example">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>S.N.</th>
							<th>Order ID</th>
							<th>Total Amount</th>
							<th>Order Date</th>
							<th>Order Status</th>
						</tr>
					</thead>
					<tbody>
						{% for order in orders %}
						<tr>
							<td >{{forloop.counter}}</td>
							<td><a href="{% url 'ecomapp:customerorderdetail' order.id %}">order_{{order.id}}</a></td>
							<td>{{order.total}}</td>
							<td>{{order.created_at|timesince}} ago</td>
							<td>{{order.order_status}}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>

				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
{% endblock %}