{% extends 'base.html' %}
{% load static %}
{% block main %}

	<!-- banner-2 -->
	<div class="page-head_agile_info_w3l">

	</div>
	<!-- //banner-2 -->
	<!-- page -->
	<div class="services-breadcrumb">
		<div class="agile_inner_breadcrumb">
			<div class="container">
				<ul class="w3_short">
					<li>
						<a href="index.html">Home</a>
						<i>|</i>
					</li>
					<li>Customer Registration</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- //page -->
	<!-- checkout page -->
	<div class="privacy">
		<div class="container">
			<!-- tittle heading -->
			<h3 class="tittle-w3l">Customer Registration
				<span class="heading-style">
					<i></i>
					<i></i>
					<i></i>
				</span>
			</h3>
			<!-- //tittle heading -->
					<div class="checkout-left">
				<div class="address_form_agile contact-form wthree">
					<h4 style="margin-bottom:0">Add a new Details</h4>
					<hr>
					<form action="" method="post" class="creditly-card-form agileinfo_form">
						{% csrf_token %}
						<div class="creditly-wrapper wthree, w3_agileits_wrapper">
							<div class="information-wrapper">
								<div class="first-row">
									<div class="w3_agileits_card_number_grids">
										<b>Email</b>
										<div class="w3_agileits_card_number_grid_right">
											<div class="controls">
												{{form.email}}
											</div>
										</div>
										<div class="w3_agileits_card_number_grid_left">
											<b>Password</b>
											<div class="controls">
												{{form.password}}
											</div>
										</div>
										<div class="clear"> </div>
									</div>
									<b>Full Name</b>
									<div class="controls">
										{{form.full_name}}
									</div>
									<b>Mobile</b>
									<div class="controls">
										{{form.mobile 	}}
									</div>
									<b>Address</b>
									<div class="controls">
										{{form.address}}
									</div>
								</div>
								<button class="submit check_out">Register as a Customer</button>
							</div>
						</div>
					</form>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //checkout page -->
	<script type="text/javascript">

	</script>

{% endblock %}