{% extends 'base.html' %}
{% load static %}
{% block main %}

	<!-- banner-2 -->
	<div class="page-head_agile_info_w3l">

	</div>
	<!-- //banner-2 -->
	<!-- page -->
	<div class="services-breadcrumb">
		<div class="agile_inner_breadcrumb">
			<div class="container">
				<ul class="w3_short">
					<li>
						<a href="index.html">Home</a>
						<i>|</i>
					</li>
					<li>Customer Login</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- //page -->
	<!-- checkout page -->
	<div class="privacy">
		<div class="container">
			<!-- tittle heading -->
			<h3 class="tittle-w3l">Customer Login
				<span class="heading-style">
					<i></i>
					<i></i>
					<i></i>
				</span>
			</h3>
			<!-- //tittle heading -->
					<div class="checkout-left col-md-10">
				<div class="address_form_agile contact-form wthree">
					<form action="" method="post" class="creditly-card-form agileinfo_form">
						{% csrf_token %}
						<div class="creditly-wrapper wthree, w3_agileits_wrapper">
							<div class="information-wrapper">
								<div class="first-row">
									<label><b>User Name</b></label>
									<div class="controls">							
										{{form.username}}
										<br><span id="custom_message"></span>
									</div>
									<div class="w3_agileits_card_number_grids">
										<div class="w3_agileits_card_number_grid_left">
											<b>Password</b>
											<div class="controls">
												{{form.password}}
											</div>
										</div>
									</div>
									{% if error %}
									<li style="color:red">{{error}}</li>
									{% endif %}
								</div>
								<button class="submit check_out">Login</button>
							</div>
							<p>
								<span class="col-sm-5">Forgot Password?<a href="{% url 'ecomapp:forgot_password' %}" data-toggle="" data-target="">
								Reset Now</a></span>
								<span class="col-sm-7">Don't have an account?
									<a href="{% url 'ecomapp:customerregistration' %}{% if request.GET.next %}?next={{request.GET.next}}{% endif %}" data-toggle="" data-target="">
								Register Now</a></span>
								</p>
				<div class="clearfix"> </div>
								
						</div>
					</form>
				</div>
				
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //checkout page -->
	<script type="text/javascript">

	</script>

{% endblock %}