{% extends 'base.html' %}
{% load static %}
{% block main %}

	<!-- banner-2 -->
	<div class="page-head_agile_info_w3l">

	</div>
	<!-- //banner-2 -->
	<!-- page -->
	<div class="services-breadcrumb">
		<div class="agile_inner_breadcrumb">
			<div class="container">
				<ul class="w3_short">
					<li>
						<a href="index.html">Home</a>
						<i>|</i>
					</li>
					<li>Forgot password</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- //page -->
	<!-- checkout page -->
	<div class="privacy">
		<div class="container">
			<!-- tittle heading -->
			<h3 class="tittle-w3l">Forgot Password
				<span class="heading-style">
					<i></i>
					<i></i>
					<i></i>
				</span>
			</h3>
			<!-- //tittle heading -->
					<div class="checkout-left col-md-10">
				<div class="address_form_agile contact-form wthree">
					{% if request.GET.m == "s" %}
					<h4>Your reset link is sent to your email, please check your email.</h4><p><a href="/" class="btn btn-primary check_out"> Ok </a></p>
					{% else %}
					{% if reques.GET.m == "e" %}
					<h4 class="text-danger">Something went wrong, please enter you email again.</h4>
					{% endif %}
					<form action="" method="post" class="creditly-card-form agileinfo_form">
						{% csrf_token %}
						<div class="creditly-wrapper wthree, w3_agileits_wrapper">
							<div class="information-wrapper">
									<label><b>Email</b></label>
									<div class="controls">						
										{{form.email}}
										<br><span id="custom_message"></span>
									</div>
									{% if error %}
									<li style="color:red">{{error}}</li>
									{% endif %}
								<button class="submit check_out">Send Reset</button>
							</div>
				<div class="clearfix"> </div>

						</div>
					</form>
					{% endif %}
				</div>
				
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //checkout page -->
	<script type="text/javascript">

	</script>

{% endblock %}