{% extends 'base.html' %}
{% load static %}
{% block style %}
<style>
	/* Chrome, Safari, Edge, Opera */
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
	}

	/* Firefox */
	input[type=number] {
	-moz-appearance: textfield;
	}

    input {
		border : #E5E5E5;
        resize: horizontal;
        width: 36px;
    }


</style>  
{% endblock %}
{% block main %}
	<!-- banner-2 -->
	<div class="page-head_agile_info_w3l">

	</div>
	<!-- //banner-2 -->
	<!-- page -->
	<div class="services-breadcrumb">
		<div class="agile_inner_breadcrumb">
			<div class="container">
				<ul class="w3_short">
					<li>
						<a href="index.html">Home</a>
						<i>|</i>
					</li>
					<li>My Cart</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- //page -->
	<!-- checkout page -->
	<div class="privacy">
		<div class="container">
			<!-- tittle heading -->
			<h3 class="tittle-w3l">My Cart
				<span class="heading-style">
					<i></i>
					<i></i>
					<i></i>
				</span>
			</h3>
			<!-- //tittle heading -->
			<div class="checkout-right">
				<h4>Your shopping cart contains:
					<span>{{cart.cartproduct_set.all.count }} Products</span>
				</h4>
				<div class="table-responsive">
					<table class="timetable_sub">
						<thead>
							<tr>
								<th>SL No.</th>
								<th>Product</th>
								<th>Quality</th>
								<th>Product Name</th>

								<th>Rate</th>
								<th>Total</th>
								<th>Remove</th>
							</tr>
						</thead>
						<tbody>
							{% for cp in cart.cartproduct_set.all %}
							<tr class="rem1">
								<td class="invert">{{forloop.counter}}</td>
								<td class="invert-image">
									<a href="single2.html">
										<img src="{{cp.product.image.url}}" alt=" " class="img-responsive">
									</a>
								</td>
								<td class="invert">
									<div class="quantity">
										<div class="quantity-select">
											<div class="entry value-minus" data-pid="{{ cp.id }}" data-url="{% url 'ecomapp:namagecart' cp.id %}">&nbsp;</div>
											<div class="entry value">
												<span>{{ cp.quantity }}</span>
											</div>
											<div class="entry value-plus active" data-pid="{{ cp.id }}" data-url="{% url 'ecomapp:namagecart' cp.id %}">&nbsp;</div>
										</div>
									</div>
								</td>
								<td class="invert">{{cp.product.title}}</td>
								<td class="invert">{{cp.product.selling_price}}</td>
								<td class="invert subtotal">{{cp.subtotal}}</td>
								<td class="invert">
									<div class="rem">
										<a href="{% url 'ecomapp:namagecart' cp.id %}?action=rmv" class="close1"> </a>
									</div>
								</td>
							</tr>
							{% endfor %}
							<tr style="border:0; text-align: right;">
								<td colspan="7" class="total">Grand Total: Rs. {{cart.total}}</td>
							</tr>
						</tbody>
					</table>
					<center class="p-4" style="margin-top:5px">
						{% if cart.cartproduct_set.all %}
							<a href="{% url 'ecomapp:emptycart' %}" class="btn btn-danger">Empty Cart</a>
							<a href="{% url 'ecomapp:checkout' %}" class="btn btn-primary">Checkout</a>
						{% endif %}
					</center> 
				</div>
			</div>
		</div>
	</div>
	<!-- //checkout page -->
{% endblock %}
{% block script %}

<script>
	$('.value-plus').on('click', function () {
		var divUpd = $(this).parent().find('.value'),
			newVal = parseInt(divUpd.text(), 10) + 1;
		divUpd.text(newVal);
		var p_id = $(this).data('pid')
		var url = $(this).data('url')
		console.log(p_id + url)
		$.ajax({
			url : url,
			method : 'GET',
			data : {
				'quantity' : newVal,
				'product_id' : p_id
			},
			success : function(data){
				$('.product-quantity').html(data.quantity)
				$('.total').html(data.total)
				$('.subtotal').html(data.subtotal)
			}
		})
	});

	$('.value-minus').on('click', function () {
		var divUpd = $(this).parent().find('.value'),
			newVal = parseInt(divUpd.text(), 10) - 1;
		if (newVal >= 1) divUpd.text(newVal);

		var p_id = $(this).data('pid')
		var url = $(this).data('url')
		console.log(p_id + url)
		$.ajax({
			url : url,
			method : 'GET',
			data : {
				'quantity' : newVal,
				'product_id' : p_id
			},
			success : function(data){
				console.log(data.total)
				$('.total').html(data.total)
				$('.subtotal').html(data.subtotal)
			}
		})
	});
</script>
{% endblock %}