{% load static %}
<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
        <h2 id="fh2">WE APPRECIATE YOUR REVIEW!</h2>
<h6 id="fh6">Your review will help us to improve our quality products, and customer services.</h6>


<form id="feedback" action="{% url 'ecomapp:product-review' product.id %}" method="POST">
    {% csrf_token %}

 <div class="pinfo">Rate our overall services.</div>
<div class="form-group">
    <div class="rating-container rating-md rating-animate">
        <div class="rating-stars">
            <span onclick="rating(1)" class="fa fa-star-o" data-rating="1"></span>
            <span onclick="rating(2)" class="fa fa-star-o" data-rating="2"></span>
            <span onclick="rating(3)" class="fa fa-star-o" data-rating="3"></span>
            <span onclick="rating(4)" class="fa fa-star-o" data-rating="4"></span>
            <span onclick="rating(5)" class="fa fa-star-o" data-rating="5"></span>
            <input type="hidden" name="star" id="starid" class="rating-value" value="0" >
        </div>
        <div  class="caption"><span id="rated_lebel" class="label label-default">Not </span> Rated</div>
    </div>
</div>

 <div class="pinfo">Write your feedback.</div>
  

<div class="form-group">
  <div class="col-md-12 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon"><i class="fa fa-pencil"></i></span>
  <textarea name="review" class="form-control" id="review" rows="3"></textarea>
 
    </div>
  </div>
</div>

 <button type="submit" class="btn btn-primary">Submit</button>
 
</form>
</div>
    <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
</div>





<!-- Star rating -->
<script>
	function rating(starnum){
		document.getElementById("rated_lebel").innerHTML = starnum;
	}

var $star_ratings = $('.rating-stars .fa');
var SetStarRatings = function(){
	return $star_ratings.each(function(){
		if (parseInt($star_ratings.siblings('input.rating-value').val()) >= parseInt($(this).data('rating'))){
			return $(this).removeClass('fa-star-o').addClass('fa-star-o');

		} else {
			return $(this).removeClass('fa-star').addClass('fa-star-o');

		}
	});
};
$star_ratings.on('click', function(){
	$star_ratings.siblings('input.rating-value').val($(this).data(rating));
	return SetStarRatings();
});
</script>
